
.bar_heading{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #F9E79F;
}
.list-group{
    padding-left: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.list-group-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.menu_content .menu_item .three{
    width: 25%;
}
.menu_item.first{
    margin-left: 0px;
}
.menu_item.last{
    margin-right: 0px;
}
.menu_item{
    padding: 0;
    border: 0.2em solid #6B1A36;
    border-radius: 10px;

    height: 120px;
    margin: 0px 10px 20px 10px;
    float: left;
    overflow: hidden;
}
.menu_heading{
    background-color: #891520;
    padding: 20px 15px;
}
.menu_footer{
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
img{
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    height: 100px;
    width: 100px;

}
div{
    display: block;
}