.logo {
	float: left;
	margin-top: 1.5%;
	margin-left: 3%;
	font-size: 1.8em;
	color: #fff;
	font-weight: 300;
}

.loginAs{
	float:right;
	color: #fff;
	margin-top: 2.5%;
	margin-right: 3%;
	font-size: 1.3em;
	font-family: calibri;
}

.loginAs a{
	color: #fff;
	font-size: 0.7em;
}

.contentArea{
	padding: 1%;
	background-color: white;
	color: #333;
	display: inline-block;
	width: 99%;
	display: inline-block;
}

.profileImage{
	max-width: 100%;
	margin-left: 16%;
	margin-top: 1%;
	display: block;
	float: left;
}

.buttonArea{
	position: relative;
	padding: 1.5%;
	float:right;
	margin-right:7%;
	margin-top: 3%;
	width:25%;
	height: 100%;
}

.buttonArea button {
    background-color: #6B1A36; 
    border: none;
    color: white;
    padding: 6%;
    margin-top: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.buttonArea button:hover{
	cursor: pointer;
}

.windowBttn{
	position: relative;
    display: inline-block;
    height: 30px;
    width: 50%;
}

.windowBttn button{
	position: relative;
	background-color: #DCC1CE;
    border-radius: 0px 15px 0px 0px;
    border: 0.05em solid #DCC1CE;
    color: black;
    padding: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    padding-left: 2%;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    width: 45%;
    font-family: 'calibri';
    height:100%;
}

.detailArea{
	padding: 3%;
	padding-top: 0%;
	padding-left: 12%;
	float: right;
	margin-right: 0.2%;
	border: 0.05em solid #6B1A36;
	width: 100%;
}

.detailArea h3{
	margin-top: 0.5em;
	font-size: 1em;
}

.detailArea h4{
	margin-top: 0.3em;
	font-size: 0.8em;
}

.detailArea p{
	margin-top: 0.1em;
	font-size: 0.8em;
}

.code{
	position: relative;
	float: left;
	width: 20%;
	padding-left: 4%;
}

.mean{
	position: relative;
	float: right;
	width: 77%;
}

.profInfo{
	position:relative;
	width:100%;
	border: 0.05em solid #DCC1CE;
	padding: 2%;
	padding-left: 1%;
	margin-top: 0.5%;
	padding-bottom: 4%;
	font-family: 'Calibri','Verdana', 'Arial', Helvetica san-serif;
}

.profInfo table {
    border-collapse: collapse;
    width: 100%;
}

.profInfo th, td {
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.profInfo tr{background-color: #f2f2f2}

.profInfo a{
	display: block;
}

.profInfo tr:hover{
	background-color: #DCC1CE;
	cursor: pointer;
}

.profInfo th {
    background-color: #6B1A36;
    color: white;
    cursor: default;
}

.profInfo button{
	cursor: pointer;
}

.profInfo a{
	color: #6B1A36;
}

.popupView {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 2%;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.regForm input,textarea{
	border: 0.05em solid #DFBEA8;
	color: black;
	padding: 0.35em;
	padding-left: 1.6em;
	font-weight: 200;
	font-size: 0.8em;
	cursor: auto;
	outline: none;
	text-align: left;
	margin-left: 5px;
	width:100%;
}

.regForm input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 0.9em;
  background-color: #575354;
}

.regForm{
	font-family: calibri;
	font-size: 0.9em;
}

.next{
	margin-top: 18%;
	margin-left: 65%;
}

.next input{
	background-color: #6B1A36; 
	border:none;
	padding:30%;
	color: #fff;
	font-size: 1em;
	border-radius: 0.3em;
	cursor: pointer;
}

