.search{
	position: relative;
	float:right;
	margin-right:1%;
	border-radius: 0.4em;
	margin-top:1%;
	border: 0.1em solid #6B1A36;
	height: auto;
}

.searchName{
	position:relative;
	display: block;
	background-color: rgb(254,217,139);
	width:46%;
	float:left;
	padding-left: 5%;
	border-bottom-left-radius: 0.4em;
	border-top-left-radius: 0.4em;
	padding-top: 2%;
	padding-bottom: 2%;
}

.searchBar{
	position:relative;
	/*display: block;*/
	width:53%;
	margin-top:0%;
	float:left;
	background-color: #fff;
	border-bottom-right-radius: 0.4em;
	border-top-right-radius: 0.4em;
}

.searchBar input{
	outline: none;
	color: black;
	padding-top: 0.7em;
	padding-bottom: 0.6em;
	padding-right: 0em;
	padding-left: 0.5em;
	font-weight: 200;
	font-size: 0.8em;
	cursor: auto;
	text-align: left;
	width:100%;
	border:0;	
}

.search-button{
	position: relative;
	float:right;
	margin-right: 5%;
	margin-top: 1%;
	width:3%;
}

.search-button button{
	background-color: rgb(247,170,32);
    color: white;
    padding: 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    font-family: 'calibri';
    width: 100%;
    cursor: pointer;
    border-radius: 0.4em;
    border: 2px solid rgb(247,170,32);
}

.searchResults{
	position: relative;
	margin-top: 6%;
	padding-bottom: 3%;
}

.links{
	position: relative;
	margin-top: 1%;
	float: right;
	margin-right: 6%;
}


