.detail-content-area{
	position: relative;
	padding: 2%;
	height: 70%;
	border:  0.05em solid #2c3e50;
	border-radius: 0.5em;
	width: auto;
}

.titleArea{
	margin: 2%;
	height: 100%;
}

.theme{
	width:60%;
	padding-left: 2%;
	font-size: 0.8em;
}

.Number{
	font-size: 0.9em;
	padding-left: 2%;
	color: #6B1A36;
}

.jDetails{
	position: relative;
	float:left;
	margin:0;
	width: 40%;
	height:100%;
	/*background-color: red;*/
	padding-left:3%;
	padding-right:3%;
	
}

.cDetails{
	position: relative;
	float:left;
	margin-top:0;
	width: 40%;
	height: 100%;
	/*background-color: green;*/
	padding-left:3%;
	padding-right:3%;
	border-left: 0.2em solid #6B1A36; 
	border-right: 0.2em solid #6B1A36;
}

.links{
	position: relative;
	float:left;
	margin-top:0;
	width: 18%;
	height:100%;
	/*background-color: blue;*/
	padding-left:2%;
}

.info{
	position:relative;
	margin-top: 5%;
	height:100%;
	background-color: red;
	width:100%;
	font-size: 1.1em;
}

.info ul{
	list-style: None;
}

.topBar{
	color: #fff;
	text-shadow: 0px 1px solid #000;
	background-color: #575354;
	padding: 0.4%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1em;
	width: 100%;
	font-family: verdana;
	text-align: center;
}

.topics{
	position : relative;
	float: left;
	width: 40%;
	/*background-color: green;*/
}

.topics li{
	text-decoration: None;
	float: right;
}

.ans{
	position: relative;
	float: left;
	width: 60%;
	/*background-color: blue;*/
	padding-left: 8%;
	padding-right: 1%;
}

.ans li{
	text-decoration: None;
	float: left;
	width: 100%;
}

.ans a{
	color: red;
	font-size: 0.9em;
	text-decoration: underline;
	float: left;
	width: 100%;
	cursor: pointer;
}

.butArea{
	position: relative;
	margin-top: 30%;
	width:100%;
	height: 100%;
}

/*.butArea button {
    background-color: #6B1A36; 
    border: none;
    color: white;
 	padding-top: 10%;
 	padding-bottom: 10%;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}*/

.btn-circle {
	background-color: #6B1A36; 
  	width: 40%;
  	height: 60px;
  	text-align: center;
  	margin-top: 5%;
  	padding: 6px 0;
  	font-size: 12px;
  	/*line-height: 1.428571429;*/
  	border-radius: 50%;
  	cursor: pointer;
}

.button-action{
	display:none;
	position: relative;
	border: 0.05em solid #6B1A36;
	background-color: #154896;
	color: #fff;
	text-align: center;
	font-size: 0.8em;
	width: 55%;
	float:right;
	margin-top: 12%;
}

.msgWindow {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 2%;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.msgBody {
	position: absolute;
	align-content: center;
	top: 100px;
	width: 40%;
	left: 30%; 
	padding-left: 2%;
	padding-bottom: 2%;
	background-color: #fff;
	border-radius: 5px;
	font-family: 'Calibri','Verdana', 'Arial', Helvetica san-serif;
	font-size: 0.8em;
}

.toMsg {
	display: block;
	border:  0.05em solid #6B1A36;
	padding: 1%;
	padding-left: 5%;
	width: 50%;
	margin-left: 1.2%;
	font-family: 'Calibri','Verdana', 'Arial', Helvetica san-serif;
	font-size: 1.2em;
}

.ans textarea{
	border:  0.05em solid #6B1A36;
	color: black;
	padding: 1%;
	padding-left: 5%;
	letter-spacing: 0.01em;
	cursor: pointer;
	outline: none;
	width: 100%;
	font-family: 'Calibri','Verdana', 'Arial', Helvetica san-serif;
	font-size: 1.1em;
}

.msgBody button {
    background-color: #6B1A36; 
    border: none;
    color: white;
    float: right;
    margin-right: 6%;
 	padding-top: 1%;
 	padding-bottom: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width: 10%;
    cursor: pointer;
}
