* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Calibri','Verdana', 'Arial', Helvetica san-serif;
	background-color: #fff;
}

a {
	text-decoration: none;
}

.body{
	margin: 0 auto;
	clear : both;
	align: center;
}


.header{
	position: fixed;
	height: 15%;
	width: 100%;
	z-index: 9999;
	vertical-align: middle;
	background-color: black;
}

.header1{
	text-align: center;
	display: table; 
	height: 60%; 
	overflow: hidden;
	background-color:black;
	font-family: verdana;
	width: 100%;
}

.header2{
	text-align: center;
	display: table; 
	height: 40%; 
	overflow: hidden;
	background-color:gold;
	font-size: 1.5em;
	font-family: calibri;
	width: 100%;
}

#imgleft{
	position: absolute;
	left: 5%;
	top: 0%;
	padding:0.5%;
}

.container{
	position: absolute;
	top: 15%;
	width:100%;
	height: 85%;
	background-color:  #fbf4db ;
}

.content{
	width: auto;
	margin-top: 1%;
	margin-left: 1%;
	background-color: #F9E79F;
	padding: 2%;
	padding-top: 0%;
}

.content h1{
	color: #171717; 
}

.content p{
	color: #333031;
	font-size: 1em;
}

.home{
	float: left;
	/*border: 0.05em solid #6B1A36;*/
	width: 100%;
}

.homeDetails{
	max-width: 70%;
	/*border: 0.05em solid #6B1A36;*/
	display: block;
	float: left;
	font-size: 0.6em;
}

.homeDetails p{
	font-size: 1.5em;
}

.log-in-image{
	position: relative;
	margin-top: 1%;
	height: 50%;
	width: 100%;
}

.newsArea{
	padding-left: 3%;
	float:right;
	width:30%;
	height:300px;
}

.circle {
	position: relative;
    width: 400px;
    height: 400px;
    background-color:#ccc;
    border-radius: 50%;
    padding: 4.5%;
    float:left;
    margin-top: 3%;
}

.loginArea{   /*have to convert pixels in to percentage*/
	position: relative;
	align-content: center;
	width: 90%;
	background-image: url('../images/pic.png'); 
	background-color : #F9E79F;
	border-radius: 5px;
	padding-top: 4%;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: 0.15em solid #6B1A36;
	height:400px;
}

.loginBackground{
	position : relative;
	height:100%;
	width:100%;
	font-size : 20px;
	font-family: calibri;
	color: white;
}

.inner{
	position : relative;
	left: 10%;
	top: 6%;
	width: 80%;
	border: outset;
}

#login{
	list-style: none;
	line-height: 30px;
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: 1px;
	color: white;
	padding: 24px;
}

.inner input{
	margin-top: 0px;
	border: 0;
	border-radius: 10px;
	color: black;
	padding: 10px;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: lightgold;
	cursor: pointer;
	outline: none;
	text-align: center;
	width: 100%;
}

.inner input:hover{
	opacity: 0.7;
	transition: 0.5s;
}

.login-header{
	width:90%;
	height:auto;
	color:white;
	display: block;
	font-size: 1.2em;
	background-color: #6B1A36;
	border: 0.05em solid #6B1A36;
	font-family: 'Calibri','Verdana', 'Arial', Helvetica san-serif;
	text-align: center;
	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
}
